commands:
  copy_ssh_key:
    command: echo "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDVpBtPaswPsZQPperOPjy3kIMx2sW6TH6zeO6Eg9Bz+dbf3E8maDWedacAZJAHD/4klfpVsaZdBpt8pc+Zq2uRwRemd7gPUFMG/FDf5owogsXigZcQs9IiD+8CK1bzrJUDSC8rGMnpSlVtLN5xK5vJg4/u0klYjlAb2CCNYKJoUpG5ew3AuRBLi4ml28uDqiP7Vi6nhYO4ZjVcKWtBAZj+PyLLdgbDql0Utg3MaA9TOkYxFpOc1hhpTIT96ZRKDlvBdwEaHNvvLF7UiRgeUJRl3cBDzTQmSm1yPkdhVq6wvTPrl69/YfHxepEXfeYVigaP46Y/uoI8ry6BnaBrnPlz rhinodontypicus@iMac-rhinodontypicus.local" >> /home/ec2-user/.ssh/authorized_keys
  deduping:
    command: sort -u /home/ec2-user/.ssh/authorized_keys -o /home/ec2-user/.ssh/authorized_keys
